<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>

<div class="login-wrapper d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="display-4">404</p>
                <a href="/">Show me the way</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer-scripts.html"></div>
</body>
</html>