<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>

<div class="container-fluid bg-light py-3 mb-5">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-2 mb-md-0">
            <span class="navbar-brand m-0" th:text="${'Welcome ' + displayUsername + '!'}"></span>
        </div>
        <div class="col-md-4 d-flex justify-content-center mb-3 mb-md-0">
            <form class="form-inline m-0">
                <input id="search" class="form-control" type="search" placeholder="Search">
            </form>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
            <button type="button" class="h-100 btn btn-success mr-3 add-button">
                <i class="fa fa-plus"></i>
            </button>
            <form class="m-0" th:action="@{/logout}" method="post">
                <input class="btn btn-dark" type="submit" value="Logout">
            </form>
        </div>
    </div>
</div>

<div th:if="${domains.size() == 0}" class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p>There is saved passwords.</p>
        </div>
    </div>
</div>

<div th:if="${domains.size() > 0}" class="container">
    <div class="row">
        <div class="col-12 text-center no-cards-info d-none">There is no cards including search word</div>
        <div th:each="domain : ${domains}" data-th-data-search="${domain.getDomainAddress()}" class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 th:text="${domain.getDomainAddress()}" class="card-title"></h5>
                    <div class="input-group mb-3">
                        <input th:value="${domain.getUsername()}" type="text" class="card-username form-control" disabled>
                        <div class="input-group-append">
                            <button class=" card-button-copy-username btn btn-outline-secondary" type="button">
                                <i class="fa fa-copy"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input th:value="${domain.getPassword()}" type="password" class="card-password form-control" disabled>
                        <div class="input-group-append">
                            <button class="card-button-show-password btn btn-outline-secondary" type="button">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class=" card-button-copy-password btn btn-outline-secondary" type="button">
                                <i class="fa fa-copy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container form-popup">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Add new domain</h5>
                    <form th:action="@{/addDomain}" th:object="${domain}" method="post" class="m-0 add-form">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-crosshairs"></i></span>
                            </div>
                            <input th:field="*{domainAddress}" type="text" class="form-control" placeholder="Domain url" autofocus="autofocus" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input th:field="*{username}" type="text" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input th:field="*{password}" type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="input-group d-flex">
                            <input type="submit" class="btn btn-success flex-grow-1 mr-3" value="Save domain">
                            <input type="submit" class="btn btn-danger add-form-cancel" value="Cancel">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const search = document.querySelector('#search');
    const cards = document.querySelectorAll('[data-search]');
    const noCardsInfo = document.querySelector('.no-cards-info');

    search.focus();

    search.addEventListener('input', () => {
        const foundCards = [];
        noCardsInfo.classList.add('d-none');

        cards.forEach((card) => {
            if (card.dataset.search.includes(search.value)) foundCards.push(card);
            card.classList.add('d-none');
        });

        if (foundCards.length === 0) {
            noCardsInfo.classList.remove('d-none');
        } else {
            foundCards.forEach((card) => {
                card.classList.remove('d-none');
            });
        }
    });

    cards.forEach((card) => {
        let copyPassButton = card.querySelector('.card-button-copy-password');
        let showPassButton = card.querySelector('.card-button-show-password');
        let passwordInput = showPassButton.parentElement.parentElement.querySelector('.card-password');

        let copyUsernameButton = card.querySelector('.card-button-copy-username');
        let usernameInput = copyUsernameButton.parentElement.parentElement.querySelector('.card-username');

        showPassButton.addEventListener('mousedown', () => {
            passwordInput.getAttribute('type') === 'password' ? passwordInput.setAttribute('type', 'text') : passwordInput.setAttribute('type', 'password');
        });

        showPassButton.addEventListener('mouseup', () => {
            passwordInput.getAttribute('type') === 'password' ? passwordInput.setAttribute('type', 'text') : passwordInput.setAttribute('type', 'password');
        });

        showPassButton.addEventListener('mouseout', () => {
            passwordInput.setAttribute('type', 'password');
        });

        copyUsernameButton.addEventListener('click', () => {
            navigator.clipboard.writeText(usernameInput.value);
        });

        copyPassButton.addEventListener('click', () => {
            navigator.clipboard.writeText(passwordInput.value);
        });
    });
</script>

<script>
    const addButton = document.querySelector('.add-button');
    const formPopup = document.querySelector('.form-popup');
    const addForm = document.querySelector('.add-form');
    const cancelFormButton = document.querySelector('.add-form-cancel');
    const firstFormInput = addForm.querySelector('input[type="text"]')

    addButton.addEventListener('click', () => {
        formPopup.classList.toggle('active');
        firstFormInput.focus();
    });

    cancelFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        console.log('hello');
        addForm.reset();
        formPopup.classList.toggle('active');
    });
</script>

<div th:replace="fragments/footer-scripts.html"></div>
</body>
</html>