@import "./_rfs.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.hero {
    background-image: url('../img/sliced-rect.svg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3E3E3;

    &-fancy-bar {
        background-color: #FA314C;
        width: 10px;
        min-height: 360px;
        width: 10px;
        position: absolute;
        transform: translateY(-50%);
        left: 0;
        top: 50%;
        display: none;

        @media (min-width: 440px) {
            display: block;
        }
    }

    &-card {
        background-color: #fff;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        padding: 36px 72px;
        max-width: 95%;
        width: 676px;
        min-height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            @include rfs(24px);
            font-weight: 700;
            text-align: center;
        }

        &-form {
            display: flex;
            flex-direction: column;

            &-input {
                background: #E3E3E3;
                border-radius: 15px;
                border: none;
                outline: none;
                @include rfs(14px);
                font-weight: 300;
                color: #333;
                padding: 12px 20px;
                text-align: center;

                &:not(:last-child) {
                    margin-bottom: 14px;
                }

                &--submit {
                    color: #fff;
                    background-color: #00CA72;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }

        &-hrefs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                @include rfs(14px);
                text-decoration: none;
                font-weight: 300;
                line-height: 1.6;
                color: #00f;
            }
        }
    }
}

.sidebar {
    background-color: #34495E;
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &-brand {
        background-color: #ECF0F1;
        width: 52px;
        height: 52px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        margin: 14px;
    }

    &-news {
        color: #ECF0F1;
        font-weight: 700;
        background-color: #00CA72;
        transform: rotate(90deg);
        white-space: nowrap;
        width: 130px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    &-icons {
        width: 100%;
        text-align: center;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            cursor: pointer;
            color: #ECF0F1;
            @include rfs(24px);
        }
    }

    &-avatar {
        margin: 14px;

        &-image {
            max-width: 52px;
            max-height: 52px;
            border-radius: 50%;
            max-width: 100%;
        }
    }
}

.content {
    margin-left: 80px;
}

.topbar {
    border-bottom: solid 1px #d6d6d6;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
        @include rfs(28px);
        color: #333;
        font-weight: bold;
    }

    &-searchbar {
        &-input {
            color: #333;
            text-align: center;
            @include rfs(14px);
            font-weight: 300;
            background-color: #E3E3E3;
            outline: none;
            border: none;
            border-radius: 15px;
            width: 560px;
            padding: 12px 24px;
            background-image: url('../img/search-solid.svg');
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: 12px 50%;
        }
    }

    &-logoff {
        &-form {
            margin: 0;

            &-button {
                border: none;
                background: none;
                outline: none;
                cursor: pointer;

                i {
                    @include rfs(28px);
                }
            }
        }
    }
}

.board {
    padding: 70px 48px 0px;
    display: flex;
    justify-content: center;
    width: 100%;

    &-passwords {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

.pass-card {
    width: 550px;
    max-width: 95%;
    height: 70px;
    background-color: #E3E3E3;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;

    &-domain {
        display: flex;
        align-items: center;

        &-icon {
            margin-right: 20px;
        }

        &-address {
            a {
                color: #333;
                font-weight: 300;
                @include rfs(18px);
            }
        }
    }

    &-buttons {
        display: flex;
        align-items: center;

        &-details {
            cursor: pointer;
        }

        &-edit,
        &-delete,
        &-fav {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

.add-domain-popup {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 36px 72px;
    max-width: 95%;
    width: 676px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 300ms;
    transform: translate(-50%, -50%) scale(0);
    z-index: 999;

    &.active {
        transform: translate(-50%, -50%) scale(1);
    }

    &-title {
        @include rfs(24px);
        font-weight: 700;
        text-align: center;
        margin-bottom: 36px;
    }

    &-form {
        display: flex;
        flex-direction: column;

        &-input {
            background: #E3E3E3;
            border-radius: 15px;
            border: none;
            outline: none;
            @include rfs(14px);
            font-weight: 300;
            color: #333;
            padding: 12px 20px;
            text-align: center;

            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }

        &-controls {
            display: flex;
            margin-top: 22px;

            &-input {
                background: #E3E3E3;
                border-radius: 15px;
                border: none;
                outline: none;
                @include rfs(14px);
                font-weight: 300;
                color: #333;
                padding: 12px 20px;
                text-align: center;
                flex-grow: 1;

                &--submit,
                &--cancel {
                    color: #fff;
                    font-weight: 700;
                    cursor: pointer;
                }

                &--submit {
                    background-color: #00CA72;
                    margin-right: 5px;
                }

                &--cancel {
                    background-color: #FA314C;
                    margin-left: 5px;
                }
            }
        }
    }
}

.error-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;

    .http-error {
        text-align: center;

        &-code {
            @include rfs(52px);
            font-weight: 300;
            color: #333;
        }

        &-message {
            @include rfs(18px);
            margin-bottom: 20px;
        }

        &-href {
            text-decoration: none;
            color: #00f;
        }
    }
}

.grid {
    position: relative;
    width: 100%;
}

.item {
    display: block;
    position: absolute;
    height: 70px;
    margin: 15px;
    z-index: 1;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}